body {
    padding-top:20px;
    background: black;
}
input[type=submit]{ 
    background: black;
    color: white;
}

input[type=submit]:focus,
input[type=submit]:hover{
  -webkit-transition: all 0.50s ease-in-out;
  -moz-transition: all 0.50s ease-in-out;
  -ms-transition: all 0.50s ease-in-out;
  -o-transition: all 0.50s ease-in-out;
  outline: none;
  background-color: #88C470;
  color: black;
/*
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
*/
}

p{
    text-align: center;
}